
#contact-me > div {
	padding: 35px;
	column-count: 2;
	width: 100%;
	display: inline-block;
	column-rule-width: medium;
	column-rule-color: black;
	column-rule-style: solid;
	height: 118px;
}

/* Contact page */
#socials {
	display: flex;
	margin-left: 17px;
	justify-content: space-between;
	height: 100%;

	align-items: center;
}
#socials a {
	display: inline-block;
}
#socials img{	
	height: 100%;
	transition: filter .1s linear
}
#socials a:hover:nth-child(1) img {
	filter: invert(60%) sepia(39%) saturate(5759%) hue-rotate(162deg) brightness(97%) contrast(101%);
}
#socials a:hover:nth-child(2) img {
	filter: invert(23%) sepia(97%) saturate(2297%) hue-rotate(316deg) brightness(88%) contrast(89%);
}
#socials a:hover:nth-child(3) img {
	filter: invert(15%) sepia(77%) saturate(7495%) hue-rotate(359deg) brightness(94%) contrast(123%);
}
#socials a:hover:nth-child(4) img {
	filter: invert(41%) sepia(12%) saturate(2731%) hue-rotate(182deg) brightness(89%) contrast(87%);
}
#socials a:hover:nth-child(5) img {
	filter: invert(15%) sepia(74%) saturate(5700%) hue-rotate(343deg) brightness(84%) contrast(118%);
}