#contact-me > div {
	display: inline-block;
	column-rule-width: medium;
	column-rule-style: solid;
	column-rule-color: black;
	column-count: 2;
	padding: 35px;

	width: 100%;
	height: 118px;
}

#socials {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 17px;

	height: 100%;
}
#socials a {
	display: inline-block;
}
#socials img {
	transition: filter 0.1s linear;
	height: 100%;
}
#socials a:hover:nth-child(1) img {
	filter: invert(60%) sepia(39%) saturate(5759%) hue-rotate(162deg) brightness(97%) contrast(101%);
}
#socials a:hover:nth-child(2) img {
	filter: invert(23%) sepia(97%) saturate(2297%) hue-rotate(316deg) brightness(88%) contrast(89%);
}
#socials a:hover:nth-child(3) img {
	filter: invert(15%) sepia(77%) saturate(7495%) hue-rotate(359deg) brightness(94%) contrast(123%);
}
#socials a:hover:nth-child(4) img {
	filter: invert(41%) sepia(12%) saturate(2731%) hue-rotate(182deg) brightness(89%) contrast(87%);
}
#socials a:hover:nth-child(5) img {
	filter: invert(15%) sepia(74%) saturate(5700%) hue-rotate(343deg) brightness(84%) contrast(118%);
}

@media (max-width: 575px) {
	#contact-me > div {
		flex-direction: column;
	}

	#email-phone {
		margin-bottom: 2em;
		border-bottom: solid black 3px;
		padding-bottom: 2em;
	}

	#contact-me > div {
		display: table;

		padding: 1em;
	}
}
