footer {
	/* box */
	padding-top: 20px;
	padding-bottom: 20px;
	border-top-width: 2px;
	background-color: #717070;

	/* typography */
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
}