footer {
	border-top-width: 2px;
	background-color: #717070;
	padding-top: 20px;
	padding-bottom: 20px;

	color: #ffffff;
	font-weight: lighter;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}
