::selection {
	text-shadow: none;
	color: #fff;
	background-color: hsla(192, 44%, 29%, 0.75);
}

*,
*:before,
*:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;

	line-height: 1.5em;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

img {
	height: auto;
	max-width: 100%;
}

a,
button {
	touch-action: manipulation;
}

svg {
	fill: currentColor;
	pointer-events: none;
}

iframe,
video {
	height: 100%;
	width: 100%;
}

body {
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
		"DejaVu Sans", Verdana, "sans-serif";
	font-style: normal;
	font-weight: 200;
}

h2 {
	text-align: center;
}
