
/* Hero Section */
#hero {
	padding: 75px 0;
	margin: 0 0 35px;
	position: relative;
	color: #fff;
	background: url("../projects/hands.png") center no-repeat;
	background-size: cover;
	z-index: 0;
}

#hero::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 1;
}

.hero_header {
	/* box */
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	position: relative;

	/* typography */
	text-align: center;
	letter-spacing: 4px;
	z-index: 2;
}

.tagline {
	/* box */
	margin-top: 4px;
	position: relative;

	/* typography */
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 1px;
	z-index: 2;
}
