#hero {
	position: relative;

	padding: 75px 0;
	margin: 0 0 35px;
	background: url("../projects/hands.png") center no-repeat;
	background-size: cover;

	color: #fff;

	z-index: 0;
}

#hero::before {
	content: "";

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0.75);

	z-index: 1;
}

.hero_header {
	position: relative;

	margin: 0 1em;

	text-align: center;
	letter-spacing: 4px;

	z-index: 2;
}

.tagline {
	position: relative;

	margin-top: 4px;

	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 1px;

	z-index: 2;
}
