#hero {
	position: relative;

	z-index: 0;
	margin: 0 0 35px;
	background: url("../projects/hands.png") center no-repeat;
	background-size: cover;

	padding: 75px 0;

	color: #fff;
}

#hero::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	z-index: 1;

	background-color: rgba(0, 0, 0, 0.75);
	content: "";
}

.hero_header {
	position: relative;

	z-index: 2;

	margin: 0 1em;
	letter-spacing: 4px;

	text-align: center;
}

.tagline {
	position: relative;

	z-index: 2;

	margin-top: 4px;
	font-weight: lighter;
	letter-spacing: 1px;

	text-align: center;
	text-transform: uppercase;
}
