#about {
	display: inline-block;

	padding-left: 25px;
	padding-bottom: 25px;
	padding-right: 25px;
	margin-top: 0;
}
.stats {
	margin-bottom: 5px;

	color: #717070;
}

#portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	width: 100%;
	padding-bottom: 35px;
	margin-top: -5px;
}

.thumbnail {
	width: 50%;
	margin-top: 35px;

	text-align: center;
}

#portfolio .thumbnail img {
	height: 390px;
}

#portfolio .thumbnail h4 {
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: 5px;

	color: #52bad5;
}

#portfolio .thumbnail p {
	flex-wrap: wrap;

	width: 85%;
	margin: auto;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;

	color: #a3a3a3;
}

#portfolio a {
	flex-basis: 100%;
}

a:has(button) {
	text-decoration: none;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 200px;
	padding: 20px 10px;
	border: 3px solid #000;
	border-radius: 0;
	margin: 40px auto auto;
	background-color: #717070;

	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;

	transition: all 0.3s linear;
}

button svg {
	padding-left: 0.5em;
}

button:hover {
	background-color: #fefefe;

	color: #000;

	cursor: pointer;
}

#contact {
	padding-top: 60px;
	padding-bottom: 60px;
	margin-bottom: 0;
	background-color: #b3b3b3;
	background-repeat: repeat;
}

#hero {
	padding: 150px 0;
}

@media (max-width: 640px) {
	#portfolio {
		flex-direction: column;
	}

	.thumbnail {
		width: 100%;
	}
}
