.splide {
	padding-bottom: 2em;
}
.splide__slide {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	width: 100%;
}
.splide__slide div {
	display: flex;
	margin: 1em;

	width: 50%;
}
.splide__slide div:first-child {
	justify-content: flex-end;
	align-items: center;
}
.splide__slide img {
	background: white;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}
.splide__slide div:last-child {
	flex-direction: column;
	justify-content: center;
}

.splide__pagination__page.is-active {
	background-color: #707070;
}

.splide__arrow {
	display: none;
}

.splide:hover .splide__arrow {
	display: flex;
}

.splide__arrow svg {
	width: 0.75em;
	height: 0.75em;
}

@media (max-width: 640px) {
	.splide__slide {
		flex-direction: column;

		padding-top: 5px;
	}

	.splide__slide:not(:last-child) {
		border-bottom: 2px solid black;
		padding-bottom: 5px;
	}

	.splide__slide div {
		width: auto;
	}

	.splide__slide div:first-child {
		justify-content: center;
	}
}
