::selection {
	/* It can be really hard to read highlighted text with a text-shadow, it should be removed when selected */
	text-shadow: none;
	color: #fff;
	background-color: hsla(192, 44%, 29%, 0.75);
}

*,
*:before,
*:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
	line-height: 1.5em;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		/* Smoothly animate to different sections within a page, only if the user doesn't mind animations */
		scroll-behavior: smooth;
	}
}

img {
	/* For responsive images that adjust & adapt */
	height: auto;
	max-width: 100%;
}

a,
button {
	/* Element doesn't want double-tap on mobile to zoom */
	touch-action: manipulation;
}

svg {
	/* Optional - make the SVG's fill be the same as the inherited color */
	fill: currentColor;
	/* Prevent the SVG from altering cursor interaction */
	pointer-events: none;
}

iframe,
video {
	/* Make iframes & videos fit the parent container by default */
	height: 100%;
	width: 100%;
}

/* Body */
body {
	/* box */
	height: 100%;
	width: 70%;
	margin: 0 auto;

	/* typography */
	/* Better text rendering - font-smoothing has not been officially declared, but can still be useful */
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana,
		"sans-serif";
	font-style: normal;
	font-weight: 200;
}

/* Container */
main {
	width: 95%;
	height: auto;
	margin: 5px auto;
	background-color: #f9f9f9;
}

/* Navigation */
header {
	/* display */
	display: flex;
	align-items: center;
	justify-content: space-between;

	/* positioning */
	position: sticky;
	z-index: 9;
	top: 0;

	/* box */
	width: 100%;
	height: 4em;
	border-bottom: 1px solid #2c9ab7;
	background-color: #52bad5;
}

.logo {
	/* box */
	height: 100%;
	margin-left: 25px;
	display: flex;
	align-items: center;

	/* typography */
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 4px;
}

.logo img {
	padding-right: 4px;
	display: inline-block;
	height: 95%;
}

nav {
	/* display */
	display: flex;

	/* box */
	height: 100%;
}

nav a {
	/* display */
	display: flex;
	align-items: center;
	justify-content: center;

	/* box */
	margin-right: 25px;

	/* typography */
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 2px;

	/* manipulation */
	transition: all 0.3s linear;
}

nav a:hover {
	color: #2c9ab7;
}

a h4 {
	color: inherit;
}

.hero_header {
	/* box */
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	position: relative;

	/* typography */
	text-align: center;
	letter-spacing: 4px;
	z-index: 2;
}

/* Hero Section */
#hero {
	padding: 75px 0;
	margin: 0 0 35px;
	position: relative;
	color: #fff;
	background: url("./hands.png") center no-repeat;
	background-size: cover;
	z-index: 0;
}

#hero::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 1;
}

.tagline {
	/* box */
	margin-top: 4px;
	position: relative;

	/* typography */
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 1px;
	z-index: 2;
}

/* About Section */
#about {
	/* display */
	display: inline-block;

	/* box */
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 0px;
	padding-bottom: 25px;
}

/* Stats Gallery */
.stats {
	/* box */
	margin-bottom: 5px;

	/* typography */
	color: #717070;
}

#portfolio {
	padding-bottom: 35px;
	margin-top: -5px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.thumbnail {
	/* positioning */

	/* box */
	margin-top: 35px;

	/* typography */
	text-align: center;
}

#portfolio .thumbnail img {
	height: 390px;
}

#portfolio .thumbnail h4 {
	/* box */
	margin-top: 5px;

	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: 5px;

	/* typography */
	color: #52bad5;
}

#portfolio .thumbnail p {
	/* box */
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;

	/* typography */
	color: #a3a3a3;
}

#portfolio a {
	flex-basis: 100%;
}

a:has(button) {
	text-decoration: none;
}

/* More info */
button {
	/* display */
	display: flex;
	align-items: center;

	justify-content: center;

	/* box */
	width: 200px;
	padding: 20px 10px;
	border: 3px solid #000;
	border-radius: 0px;
	margin: 40px auto auto;
	background-color: #717070;

	/* typography */
	/* By default, buttons don't inherit the font colour, this is a useful default to override */
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 2px;

	/* manipulation */
	transition: all 0.3s linear;
}

button svg {
	padding-left: 0.5em;
}

button:hover {
	/* box */
	background-color: #fefefe;

	/* typography */
	color: #000;

	/* miscellaneous */
	cursor: pointer;
}

footer {
	/* box */
	padding-top: 20px;
	padding-bottom: 20px;
	border-top-width: 2px;
	background-color: #717070;

	/* typography */
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
}

#contact {
	padding-top: 60px;
	padding-bottom: 60px;
	margin-bottom: 0px;
	background-color: #b3b3b3;
	background-repeat: repeat;
}

.hidden {
	display: none;
}

/* Portfolio page */
.splide__slide {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.splide__slide img {
	max-height: 100%;
	max-width: 50%;
}
.full {
	height: 100%;
}
#contact-me > div {
	padding: 35px;
	column-count: 2;
	width: 100%;
	display: inline-block;
	column-rule-width: medium;
	column-rule-color: black;
	column-rule-style: solid;
	height: 118px;
}
#socials {
	display: flex;
	margin-left: 17px;
	justify-content: space-between;
	height: 100%;

	align-items: center;
}

#socials a {
	display: inline-block;
}
#socials img{	
	height: 100%;
}